@use '../../utils/variables.scss' as *;

.cypherLink {
    color: #fff;
    text-decoration: none;
    font-family: $googleCode;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 300;

    .terminalSymbol {
        color: #888;
    }
}

.labelBtn {
    background: #4445;
    backdrop-filter: blur(5px);
    font-size: 1.3rem;
    line-height: 1.3rem;
    display: flex;
    flex-wrap: no-wrap;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 2rem;
    align-items: center;

    .btn {
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
        background: $cobaltBlue;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    .label {
        font-size: 1.1rem;
        font-weight: 100;
        margin-inline: 1.5rem;
    }
}