@use '../../../utils/variables' as *;

.Sidebar {
    position: fixed;
    left: 0;
    width: 100%;
    background: #000a;
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    top: -100%;
    z-index: 999;
    padding-top: 144px;

    .Links {
        @include flexColumn(1rem);
        width: 100%;
        @include flexAlign();
        padding: 2rem 0;
    }
}